<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {font-family: sans-serif; font-weight: bold; background-color: #f9f3fb;}
        fieldset{width: 300px; padding: 20px; text-align: center; font-size: 20px;
            border-color: #add8ec;border-radius: 5px; color: #8e8392;}
        .form-control {margin: 10px; border-color: #add8ec;border-radius: 5px;}
        .btn {font-family: sans-serif; font-weight: bold; font-size: 20px; color: #f9f3fb; border: none;
             border-radius: 5px; background-color: #6a4577; width: 100px;height: 40px;}
        h3 {color: #6a4577;}
        .cont{display:flex;justify-content:space-between;}
        .inner{width: 16%; margin:10px;}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/" >
            <fieldset>
                <legend><h2>Create order</h2></legend>
                <legend>Insert your name</legend>
                <input type="text" class="form-control" name="userName" id="userName">       
                <legend>Insert your adress</legend>
                <input type="text" class="form-control" name="addressesAdds" id="userAdress"> 
                <legend>Insert your package</legend>
                <input type="text" class="form-control" name="parcelContent" id="parcel"> 
                <br>
                <button type="submit" id="insert" class="btn">Insert</button>
            </fieldset>
        </form>
        <hr>
        <button type="button" id="deliver" class="btn">Deliver</button>
        <h3>Delivery process</h3>
        <div class="cont" >
            <div class="inner" id="delivery1"></div>
            <div class="inner" id="delivery2"></div>
            <div class="inner" id="delivery3"></div>
            <div class="inner" id="delivery4"></div>
            <div class="inner" id="delivery5"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
    <script>
        $(function () {
        var socket = io();
        $('#deliver').click(function(){
            socket.emit('message', 'some');
            return false;
        });
        socket.on('message', function(msg){
            $('#delivery'+msg[0]).append($('<p>').text(msg[1]));
        });
        });
    </script>
</body>
</html>